/* Preview Wrapper */
.preview-wrapper {
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px; /* 기본 최소 높이 설정 */
    max-height: 100%; /* 최대 높이 제한 */
    background-color: #1E1E1E;
    transition: background-color 0.3s, border-color 0.3s;
    overflow: auto; /* 크기 초과 시 스크롤 활성화 */
    padding: 10px; /* iframe 외부 여백 */
    box-sizing: border-box;
}

/* Placeholder Styling */
.preview-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #888;
    font-family: "NotoSansKR-Regular", Arial, sans-serif;
    font-size: 16px;
}

.preview-placeholder i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #888;
    transition: transform 0.3s, color 0.3s;
}

.preview-placeholder:hover i {
    color: #FFFFFF;
    transform: scale(1.1);
}

/* Iframe Styling */
.preview-iframe {
    border: none;
    border-radius: 10px;
    width: auto; /* 가로 크기를 자동으로 조정 */
    height: auto; /* 높이를 자동으로 조정 */
    max-width: 100%; /* 부모 요소에 맞춰 최대 크기 제한 */
    max-height: 100%; /* 부모 요소에 맞춰 최대 크기 제한 */
    background-color: #000000;
    display: block; /* 블록 요소로 설정 */
    margin: auto; /* iframe을 중앙 정렬 */
    box-sizing: border-box;
}
